<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpreadsheetLib.keys" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SpreadsheetLib.keys>
            <setting name="clientID" serializeAs="String">
                <value>7464abf2e0c64316941cf4d57f37691f</value>
            </setting>
            <setting name="secretKey" serializeAs="String">
                <value>1gocX4xgPmf5R0PPMNOQj8t7gc8e6fOKSbU8Acah</value>
            </setting>
        </SpreadsheetLib.keys>
    </userSettings>
    <system.diagnostics>
      <sources>
        <source name="EveLib" switchValue="All"/>
      </sources>
    </system.diagnostics>
</configuration>